main {
  margin-top: 60px;
}

/* AboutMe.css */
.about-me-container {
  padding: 20px;
  text-align: center;
}

.about-me-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: #007BFF;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;

}

.about-text {
  flex: 1;
  max-width: 600px;
  text-align: left;
  /* Allow the text to take up the remaining space */
}

.about-image {
  
}